* {
    box-sizing: border-box;
}

body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, 1);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 1);
}

.nav-masthead .nav-link {
    color: rgba(255, 255, 255, .5);
    border-bottom: .25rem solid transparent;
}
  
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}
  
.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}
  
.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

.mainPage {
    display: flex;
    font-family: sans-serif;
    line-height: 30px;
    font-size: 30px;
    margin: 0px 150px 40px;
    background-size: 100% 30px;
    background-position: 0 0;
    background-image: linear-gradient(to bottom,
            white,
            white 29px,
            lightskyblue);
    box-shadow: #cdcdcd 1px 2px,
        #d2d2d2 2px 4px,
        #d7d7d7 3px 6px,
        #dcdcdc 4px 8px,
        #e1e1e1 5px 10px,
        #e6e6e6 6px 12px,
        #ebebeb 7px 14px,
        #f0f0f0 8px 16px,
        #f5f5f5 9px 18px,
        #fafafa 10px 20px,
        rgba(0, 0, 0, .3) 10px 20px 15px;
}

textarea {
    flex: 1;
    min-height: 2em;
    outline: none;
    font-size: 30px;
    line-height: 30px;
    padding: 1em;
    border: none;
    border-top: 1px dashed rgba(0, 0, 0, .15);
    color: #444;
    letter-spacing: .02em;
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, .1));
    overflow: hidden;
}


button {
    position: relative;
}

.bi-keyboard {
    position: relative;
    bottom: 2px;
}

.keyboard {
    display: block;
    margin-top: 20px;
}

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.cover-container {
    max-width: 72em;
}

