.simple-keyboard1 {
  max-width: 850px;
}

.keyboard1.myTheme1 {
  background-color: transparent;
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.keyboard1.myTheme1 .hg-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;

  &:hover {
    background: #FFCC33;
    color: black;
  }
}

.keyboard1.myTheme1 .hg-button:active {
  background: #FFCC33;
  color: black;
}