.keyContainer {
  background: #fff;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0.6rem;
  margin-bottom: 20px;
}

trix-toolbar {
  max-width: 61.4em;
  margin: auto;
  padding-top: 10px;
}

trix-editor {
  border: none !important;
  margin: auto !important;
  max-width: 61.4em;
  color: black;
  text-align: left !important;
  min-height: 374px !important;
  max-height: 374px !important;
  background: white;
  overflow-y: auto;
}

trix-editor {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

trix-editor .attachment {
  position: relative;
  float: left;
  max-width: 100%;
  margin: 10px 10px 10px 0;
  padding: 0;
  color: #666;
  font-size: 13px;
}

.trix-content div {
  color: black;
  text-align: left !important;
  word-break: break-all;
  margin-top: 3px !important;
}

trix-editor .attachment__progress {
  display: none;
}

.trix-content .attachment-gallery .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 100% !important;
}

img {
  object-fit: cover;
}

.trix-content {
  line-height: 1.5;
}

.trix-content img {
  max-width: 100%;
  height: auto;
}

.trix-button-row {
  gap: 10px;
}

.keyboard {
  width: 95%;
  padding: 5px 0;
  background: transparent;
  user-select: none;
  margin-right: auto;
  margin-left: auto;
}

.keyboard__keys {
  display: grid;
  grid-template-columns: repeat(11, 85px);
  grid-template-rows: repeat(5, 60px);
  gap: 5px;
}

.keyboard__key {
  font-size: 20px;
  padding: 10px;
  border: none;
  background-color: #bfbfbffc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: black;
  position: relative;

  &:hover {
    background: #ffcc33;
    color: black;
    border: 1px solid #ffcc33;
  }
}

.keyboard__key {
  border: 1px solid #ccc;
  background-color: #bfbfbffc;
}

.keyboard__key:active {
  background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
  width: 100%;
}

.keyboard__key--height {
  width: 100%;
  grid-column: span 5;
}

.keyboard__key--extra-wide {
  width: 100%;
  grid-column: span 6;
}

.keyboard__key--activatable::after {
  content: '';
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.keyboard__key--active::after {
  background: #1c0099;
}

.keyboard__key--dark {
  background: rgba(0, 0, 0, 0.25);
}

@media (max-width: 1059px) {
  .keyboard {
    width: 100%;
  }
  .keyboard__keys {
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(4, 60px);
  }
}

@media (max-width: 522px) {
  .material-icons {
    font-size: 15px !important;
  }
  .keyboard__keys {
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(5, 50px);
  }

  .keyboard__key {
    font-size: 17px;
    padding: 4px;
  }

  .keyboard__key--activatable::after {
    display: none;
  }
}

@media (max-width: 310px) {
  .material-icons {
    font-size: 15px !important;
  }
  .keyboard__keys {
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(5, 50px);
  }

  .keyboard__key {
    font-size: 15px;
    padding: 2px;
  }
}

@media (max-width: 244px) {
  .keyboard {
    display: none;
  }
  trix-editor {
    border: none !important;
    margin: auto !important;
    max-width: 61.4em;
    color: black;
    text-align: left !important;
    min-height: 1000px !important;
    overflow-y: none;
  }
}
