.simple-keyboard1 {
  max-width: 850px;
}

.keyboard1.myTheme1 {
  background-color: transparent;
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.keyboard1.myTheme1 .hg-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;

  &:hover {
    background: #ffcc33;
    color: black;
  }
}

.keyboard1.myTheme1 .hg-button:active {
  background: #ffcc33;
  color: black;
}

trix-editor div {
  color: black;
  text-align: left !important;
  overflow: hidden;
  width: 100%;
  word-break: break-all;
}

trix-editor {
  color: black;
  text-align: left !important;
  min-height: 20em !important;
}

.trix-content {
  line-height: 1.5;
}

.mainPage {
  margin-top: 20px;
}
