/*
  Theme: numeric
*/
.keyboard2.numeric-theme {
  max-width: 320px;
  margin: 0 auto;
  background: transparent;
}

.keyboard2.numeric-theme + .simple-keyboard-preview {
  max-width: 320px;
  
}

.keyboard2.simple-keyboard.hg-theme-default.numeric-theme
  .hg-button.hg-standardBtn.hg-button-at {
  max-width: none;
  background: rgba(0, 0, 0, 0.5);
}


.keyboard2.numeric-theme .hg-button {
  background: rgba(0, 0, 0, 0.5);
  border: none;

  &:hover {
    background: #FFCC33;
    color: black;
  }
}